!!!
%html
  %head
    %title Philippine Ruby Users Group
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css"
    = csrf_meta_tags
  %body
    .topbar#topbar
      .topbar-inner
        .container
          %h3= link_to "Philippine Ruby Users Group", root_path
          %ul.nav
            %li{ class: (controller.controller_name == "pages" ? "active" : nil)}= link_to "Home", root_path
            %li{ class: learn_list_class }
              %a.dropdown-toggle{ href: "#" } Learn
              %ul.dropdown-menu
                %li
                  %a{ href: "#" } Learn Ruby
                %li
                  %a{ href: "#" } Learn Rails
                %li
                  %a{ href: "#" } Other topics..
                %li.divider
                %li
                  %a{ href: "#" } Mentoring
            %li{ class: connect_list_class }
              %a.dropdown-toggle{ href: "#" } Connect
              %ul.dropdown-menu
                %li
                  %a{ href: "#" } Events
                %li= link_to "Rubyists", rubyists_path
                %li.divider
                %li
                  %a{ href: "#" } Companies
                %li
                  %a{ href: "#" } Job Board
            %li{ class: build_list_class }
              %a.dropdown-toggle{ href: "#" } Build
              %ul.dropdown-menu
                %li
                  %a{ href: "#" } Open Source
                %li
                  %a{ href: "#" } Free-For-All Projects

              
          %ul.nav.secondary-nav
            %li= link_to "About Us", root_path
            %li= link_to "Sign Up", root_path
    .container
      .content
        - if notice
          .alert-message.block-message.success= notice
        - if alert
          .alert-message.block-message.error= alert
        = yield
    
    %footer
      %p Copyright notice 
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
    = javascript_include_tag "application"
    = javascript_include_tag "http://twitter.github.com/bootstrap/1.3.0/bootstrap-dropdown.js"
